@use "partials/variables" as *;
@use "partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
}

.header-container {
  background: $bg-gray;
}

.centered-container {
  width: 80vw;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;

  a {
    text-decoration: none;
    color: $text-color;
  }
}

.primary-button {
  background: #4caf4f;
  color: #fff;
}

.secondary-button {
  background: transparent;
  color: #4caf4f;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-section {
  padding: 22px 0;
}

header-sectionTwo {
  padding: 70rem 0;
}

.heading-1 {
  font-size: 36px;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.para {
  font-size: 16px;
  color: #717171;
}

.care-desc {
  width: 630px;
  margin: 0 auto;
  margin-top: 16px;
}

.care-container {
  padding-top: 48px;
}

.care-image-container {
  position: relative;
  width: 368px;
}

.care-text {
  position: absolute;
  background: #f5f7fa;
  width: 80%;
  left: 10%;
  height: 135px;
  top: 68%;
  border-radius: 6px;
  text-align: center;
  padding: 45px;
  box-sizing: border-box;
}

.care-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0px;
}
